/* nav styleL */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}
.text-primary {
  color: #fd6e0a;
}
.btn-primaray {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  padding: 15px 35px;
}
.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
nav > ul {
  align-items: center;
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 50px;
}

nav a {
  text-decoration: none;
  color: #474747;
}

/* hedear startL */
.header {
  background: #fff8f3;
}

/* banner */
.banner {
  align-items: center;
  display: flex;
  padding: 30px 30p-x 30px 150px;
}
.banner .porofile-pic {
  width: 500px;
  /* height: 676px; */
}
